.edit-icon {
  margin-left: 10px;
  font-size: 15px;
}

.add-another-btn {
  border: 2px solid #5C99C7;
  color: #5C99C7;
  font-size: 14px;
  line-height: 1.8em;
}

.add-another-btn:hover {
  border: 2px solid #5C99C7;
  background: #5C99C7;
  color: white;
}

.btn.btn-outline-primary.float-none.float-sm-none.add-another-btn:hover {
  cursor: pointer;
}

.dataset-info {
  height: 100px;
  overflow: scroll;
  resize: vertical;
}

.group {
  position: relative;
  top: 50%;
}

.col.phram-info {
  height: 500px;
  overflow: scroll;
}

